@tailwind base;
@tailwind components;
@tailwind utilities;
header ul li{
  @apply px-2;
}
 .bg-primary{
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;

}
.bg-primary:hover{
  background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(216, 245, 251) 80.32%);
  /* background: linear-gradient(132deg, rgb(255, 206, 236) 0.00%, rgb(151, 150, 240) 50.48%); */
}
.mobile-nav{
  @apply fixed top-16 left-0 bg-gray-500 w-full h-1/4;
}
.mobile-nav li{
  @apply w-full h-full text-center border-b-2;

}
.bg-secondary{
   background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(216, 245, 251) 100.00%);;
  
}
.bg-secondary:hover {
  background: linear-gradient(132deg, rgb(59, 55, 106) 0.00%, rgb(0, 143, 186) 50.00%, rgb(255, 149, 213) 100.00%);
  box-shadow: 0 10px 15px #3bc9eced;
}
.btn-1{
  background: yellow;
  border-radius: 5px;
}
.img-1{
  border-radius: 10px;
  box-shadow:0 15px 15px #09093f;
}
.logo{
  width: 50px;
  height: 50px;
}
.about-h1{
  color:rgb(52, 5, 77)
  
}
.about-bg{
  background: linear-gradient(132deg, rgb(255, 206, 236) 94.94%, rgb(151, 150, 240) 100.00%);
}
.about-bg:hover{
  background: linear-gradient(132deg, rgb(253, 54, 133) 0.00%, rgb(254, 207, 215) 100.00%);
}
.s-img{
  width: 50px;
  height: 50px;
}
.service-h1{
  color:#09093f
}
.service-bg{
   background: linear-gradient(132deg, rgb(227, 244, 253) 0.00%, rgb(170, 209, 226) 100.00%);;
}
.service-bg:hover{
  background: linear-gradient(132deg, rgb(114, 43, 54) 0.00%, rgb(238, 178, 123) 100.00%);

}
.s-li:hover{
  background-color: yellow;
  border-radius: 10px;
  box-shadow: 0 10px 15px #dcee68;
}
.card-bg{
  background: #f6f1f199;
}
.project-bg{
  background: linear-gradient(132deg, rgb(224, 235, 213) 0.00%, rgb(37, 148, 141) 100.00%);
}
.project-bg:hover{
  background: linear-gradient(132deg, rgb(125, 199, 144) 0.00%, rgb(11, 59, 23) 100.00%);
}
.p-img{
  box-shadow:15px 15px 15px hsl(0, 0%, 97%);
  border-radius: 10px;
}
.slider{
  align-items: center;
  justify-content: center;
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;

}
.slider .slide-track{
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);


}
.slider .slide{
  height: 150px;
  width: 250px ;
}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*7));
  }
  
}
.c-img{
  border-radius: 50%;
 
  box-shadow:0 15px 15px rgb(84, 52, 1);
}
.c-bg{
  background: linear-gradient(132deg, rgb(251, 165, 116) 0.00%, rgb(216, 245, 251) 100.00%);
}
.c-bg:hover{
  background: linear-gradient(132deg, rgb(241, 242, 11) 0.00%, rgb(248, 161, 27) 100.00%);
}
.f-iframe{
  border-radius: 15px;
}
.f-bg{
    background: linear-gradient(132deg, rgb(65, 80, 95) 52.65%, rgb(36, 37, 38) 100.00%); 
}
.f-bg:hover{
  
  background: linear-gradient(132deg, rgb(1, 96, 105) 0.00%, rgb(0, 72, 95) 100.00%);
}
.f-img{
  box-shadow:0 15px 15px rgb(45, 246, 155);
}
.a-img{
  box-shadow:0 15px 15px #f267e9;
  border-radius: 20px;
}
.p-r{
  border-radius: 10px;
}
html{
  scroll-behavior: smooth;
}
.n-c{
  border-radius: 5px;
}



      